{% extends "layout.html" %}
{% block content %}
    {% for ticket in tickets %}
        <article class="media content-section">
          <div class="media-body">
              <h3 class="mr-2" href="#">{{ ticket.event }}</h3>

            <p style="color: #80CBC4">{{ ticket.price }}  UAH</p>
              <small>{{ ticket.date }}</small>

              <h3 align="right"><a style="color: #50c878" href="/account">Buy</a></h3>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

<link rel="stylesheet" href="/static/main.css/reset.css?q=1280549780"
   type="text/css" media="screen" charset="utf-8" />